<a href="https://colab.research.google.com/github/katgalang91/Skyline-Math-200/blob/main/Mean_Median_Mode_Lab_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You will learn all about how to use Python to create Summary Statistics

*  mean()
*  median()
mode()
groupby

In [ ]:
import pandas as pd

In [ ]:
link = 'https://raw.githubusercontent.com/kmath22/kmath22/main/Data%20Science%20Jobs%20Salaries.csv'

ds_df = pd.read_csv(link)
ds_df.head()

In [ ]:
#What is the average salary of a data scientist?

In [ ]:
##What is the median salary of a data scientist?

In [ ]:
#What is the mode?

In [ ]:
#Use describe to find a five number summary for salary

In [ ]:
#Find the average salary by company size

In [ ]:
#Find the average, median, and max salary by company size using .describe()

Part 2:  Use the Diamond dataset you stored in Github

In [ ]:
import pandas as pd

In [ ]:
#Upload the diamond dataset in Github
# paste the url into the ''
link2 =''

diamond_df = pd.read_csv(link2)

In [ ]:
#View the diamond_df dataset

In [ ]:
#What is the average price of a diamond